<%= render layout:"devise/shared/common", locals:{header:"Registrarse"} do%>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <!-- EMAIL -->
    <div class="form-group">
      <%= f.label :email, "Email:" %>
      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email", required:true  %>
    </div>
    <!-- PASSWORD -->
    <div class="form-group">
      <%= f.label :password, "Contraseña:" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Contraseña", required:true  %>
    </div>
    <!-- PASSWORD CONFIRMATION -->
    <div class="form-group">
      <%= f.label :password_confirmation, "Contraseña:" %>
      <em>(confirmar)</em>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Contraseña", required:true  %>
    </div>
    <!-- SUBMIT -->
    <div class="actions">
      <%= f.submit "Registrarse", class:"btn btn-primary"  %>
    </div>
  <% end %>
<% end %>


