<div class="col-md-offset-3 col-md-4">
  <div class="panel panel-success" style="margin-top:40px;">
  		<div class="panel-heading"><h2><%= header %></h2></div>
		
		<div class="panel-body">
			<%= yield %>
  		</div>

    <div class="panel-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<div class="col-md-offset-2 col-md-3">
  <%= render "partials/side_bar" %>
</div>