<div class="media">
	<div class="media-left">
		<% if avatar_file_name.nil? %>
			<%= image_tag "user_default_64x64.jpg", alt: "User avatar default", class:"pull-left img-thumbnail", style:"margin-right:10px;"%>
		<% else %>
			<%= image_tag avatar.url, alt: "User avatar", class:"pull-left img-thumbnail set-64x64", style:"margin-right:10px;" %>
		<% end %>
	</div>

	<div class="media-body">
		<h4 class="media-heading"><%= comment.user.email %></h4>
		<p class="text-justify"><%= comment.body %></p>
	</div>
</div>

	