<a href="#modal-register-now" id="btn-modal-register-now" data-toggle="modal" style="display:none;"></a>

<div class="modal fade" id="modal-register-now">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- MODAL HEADER -->
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
				<h4>¿No tienes cuenta de usuario?</h4>
			</div>
			<!-- MODAL BODY -->
			<div class="modal-body">
				<p>Si usted se registra podrá recibir por correo cualquier comentario sobre sus avisos y tendrá acceso a la aplicación. Si no lo desea simplemente complete el formulario.</p>
			</div>
			<!-- MODAL FOOTER -->
			<div class="modal-footer">
				<%= link_to new_user_registration_path, options:{}, class:"btn btn-success" do %>
					<span class="glyphicon glyphicon-envelope"></span> 
					Registrarse
				<% end%>
			</div>
		</div>
	</div>
</div>