<div class="sidebar hidden-xs" style="">
	
	<%= image_tag "side-bar-tool.png", class:"image-center sidebar-img"%>
	<hr>
	<h4 style="" class="text-center"><b>ASISTENCIA TÉCNICA</b></h4>
	<h4 class="text-center"><i>Raúl Campos González</i></h4>
	<hr>
	<%= image_tag "side-bar-top.png", class:"image-center sidebar-img"%>
	<hr>
	<p class="text-justify">
		<span class="glyphicon glyphicon-wrench"></span> 
		<strong>Reparación</strong> a domicilio de todo tipo de electrodomésticos, desde televisores, neveras, ordenadores, lavadoras, etc. 
	</p>
	<hr>
	<%= image_tag "side-bar-middle.png", class:"image-center sidebar-img" %>
	<hr>
	<p class="text-justify">
		<span class="glyphicon glyphicon-home"></span> 
		<strong>Instalación</strong> de antenas para televisión digital terrestre.
	</p>
	<hr>
	<%= image_tag "side-bar-bottom.png", class:"image-center sidebar-img"%>


</div>