<% link_to [:example, notification]%>
<% if notification.solved %>
	<%= link_to [:toggle_solved, notification], class:"btn btn-warning toggle-solved-btn", style:"margin-right:5px;", method: :put, remote:true do%>
		<span class="glyphicon glyphicon-remove-sign"></span> Marcar como reabierto
	<% end %>
<% else %>
	<%= link_to [:toggle_solved, notification], class:"btn btn-success toggle-solved-btn", style:"margin-right:5px;", method: :put, remote:true do%>
		<span class="glyphicon glyphicon-ok-sign"></span> Marcar como resuelto
	<% end %>
<% end %>

<a href="#modal-delete<%= notification.id %>" class="btn btn-danger" data-toggle="modal"><span class="glyphicon glyphicon-ban-circle"></span> Eliminar</a>
<div class="modal fade" id="modal-delete<%= notification.id %>">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- MODAL HEADER -->
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-hidden="true" type="button">&times;</button>
				<h4>¿Desea eliminar este aviso?</h4>
			</div>
			<!-- MODAL BODY -->
			<div class="modal-body">
				<p>Si usted elimina este aviso no podrá recuperarlo posteriormente de ninguna manera</p>
			</div>
			<!-- MODAL FOOTER -->
			<div class="modal-footer">
				<%= button_to notification, method: :delete, class:"btn btn-danger" do%>
					<span class="glyphicon glyphicon-ban-circle"></span> 
					Eliminar
				<% end%>
			</div>
		</div>

	</div>
</div>