<div class="col-md-9">
	<% if @notifications.empty? %>
		<%= image_tag "no_notifications.png", alt: "No notifications", class:"img-responsive", style:"margin-top:20px;"%>
	<% else %>
		<div class="well"><h3><span class="glyphicon glyphicon-edit"></span> <b>Notificaciones totales: <%= @notifications.size%></b></h3></div>
		<% @paged_notifications.each do |notification| %>
			<div class="row">
				<div class="col-md-11">
					<article class="notification clearfix">
						<div class="row">
							<%= link_to notification, class:"thumb pull-left" do%>
								<% if notification.optional_photo_file_name.nil? %>
									<%= image_tag "broken_appliance_default.jpg", alt: "Broken appliance", class:"img-thumbnail" %>
								<% else %>
									<%= image_tag notification.optional_photo.url(:thumb), alt: "Broken appliance", class:"img-thumbnail" %>
								<% end %>
							<% end %>
							<h4><b>Dia:</b> <%= notification.created_at.strftime "%d/%m/%Y a las %H:%M" %></h4>
							<h4><b>Persona:</b> <%= notification.person %></h4>
							<h4><b>Teléfono:</b> <%= notification.telephone %> </h4>
							<h4><b>Electrodoméstico</b> <%= notification.appliance %> </h4>
							<h4 class=""><b>Problema:</b></h4>
							<p class="text-justify"> <%= notification.problem %></p>
						</div>
						<div class="row">
							<p class="location">En la localidad <%= notification.city %>, calle <%= notification.street %>, número <%= notification.number %>.</p>
							<div>
								<%= link_to notification, class:"btn btn-info" do%>
									<span class="glyphicon glyphicon-pencil"></span> Comentar 
									<span class="badge"><%= notification.comments.size %></span>
								<% end %>
								<%= render "partials/toggle_solved_and_delete", notification:notification %>
							</div>
						</div>
					</article>
				</div>
			</div>
		<% end %>
	<div class="row">
		<%= will_paginate @paged_notifications, renderer: BootstrapPagination::Rails %>
	</div>
	<% end %>
	
</div>
<div class="col-md-3">
	<%= render "partials/side_bar" %>
</div>

