<% unless user_signed_in? %>
	<%= render "partials/dont_have_user_warning" %>
<% end %>

<div class="panel panel-info panel-notification">
	<div class="panel-heading">
		<h2>Formulario de aviso</h1>
	</div>
	<div class="panel-body">
		<div class="alert alert-warning">
			<button class="close" data-dismiss="alert"><span>&times;</span></button>
			*Por favor rellene este formulario en caso de que alguno de sus electrodómesticos tenga un mal funcionamiento. Todos los campos son obligatorios exceptuando la imagen.
		</div>
		<%= form_for(@notification, html:{multipart:true, class:"form-horizontal"}) do |n| %>
			<!-- PERSON -->
			<div class="form-group">
				<%= n.label :person,  "Nombre:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.text_field :person, class:"form-control", placeholder:"Nombre o alias", required:true %>
				</div>
			</div>
			<!-- TELEPHONE -->
			<div class="form-group">
				<%= n.label :telephone, "Teléfono:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.number_field :telephone, class:"form-control", placeholder:"Teléfono de la persona", min:"1", required:true %>
				</div>
			</div>
			<!-- CITY -->
			<div class="form-group">
				<%= n.label :city, "Localidad:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.text_field :city, class:"form-control", placeholder:"Localidad del domicilio", required:true %>
				</div>
			</div>
			<!-- STREET -->
			<div class="form-group">
				<%= n.label :street, "Calle:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.text_field :street, class:"form-control", placeholder:"Calle del domicilio", required:true %>
				</div>
			</div>
			<!-- NUMBER -->
			<div class="form-group">
				<%= n.label :number, "Número:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.number_field :number, class:"form-control", placeholder:"Número del domicilio", min:"1", required:true %>
				</div>
			</div>
			<!-- APPLIANCE -->
			<div class="form-group">
				<%= n.label :appliance, "Electrodoméstico:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.text_field :appliance, class:"form-control", placeholder:"Tipo de electrodomestico", required:true %>
				</div>
			</div>
			<!-- PROBLEM -->
			<div class="form-group">
				<%= n.label :problem, "Problema:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.text_area :problem, class:"form-control", placeholder:"Indique los síntomas del mal funcionamiento", required:true %>		
				</div>
			</div>
			<!-- PHOTO -->
			<div class="form-group">
				<%= n.label :optional_photo, "Imagen:", class:"control-label col-md-2" %>
				<div class="col-md-8">
					<%= n.file_field :optional_photo%>		
					<p class="help-block">Una imagen representativa del estado del electrodoméstico (opcional)</p>
				</div>
			</div>
			<!-- SUBMIT -->
			<div class="form-group">
				<div class="col-md-2 col-md-offset-2">
					<%= n.submit "Enviar", class:"btn btn-primary" %>
				</div>
			</div>
		<% end %>
		
	</div>
</div>

