<div class="col-md-9">
	<h2 class="text-primary"><span class="glyphicon glyphicon-edit"></span> Información de aviso 
		<small class="label-toggle-solved">
		<% if @notification.solved %>
			<span class="label label-success">Resuelto</span>
		<% else %>
			<span class="label label-danger">Sin resolver</span>
		<% end %>
		</small>
	</h2>
	<br>
	<div class="panel-group" id="accordion" role="tablist">
		<%= render layout:"partials/panel_property", locals:{attribute:"Día", id:1} do%>
			<%= @notification.created_at.strftime "%m/%d/%Y a las %H:%M" %>
		<% end %>
		<%= render layout:"partials/panel_property", locals:{attribute:"Persona", id:2} do%>
			<%= @notification.person %>
		<% end %>
		<%= render layout:"partials/panel_property", locals:{attribute:"Teléfono", id:3} do%>
			<%= @notification.telephone %>
		<% end %>
		<%= render layout:"partials/panel_property", locals:{attribute:"Localización", id:4} do%>
			<p><%= @notification.city %>, calle <%= @notification.street %>, número <%= @notification.number %></p>
		<% end %>
		<%= render layout:"partials/panel_property", locals:{attribute:"Electrodoméstico", id:5} do%>
			<%= @notification.appliance %>
		<% end %>
		<%= render layout:"partials/panel_property", locals:{attribute:"Problema", id:6} do%>
			<p class="text-justify"> <%= @notification.problem %></p>
		<% end %>
		<% unless @notification.optional_photo_file_name.nil? %>
			<%= render layout:"partials/panel_property", locals:{attribute:"Imagen", id:7} do%>
				<%= image_tag @notification.optional_photo.url, alt: "Broken appliance", class:"img-thumbnail broken-appliance-default" %>
			<% end %>
		<% end %>
	</div>
	<div class="" style="margin-top:20px;margin-bottom:20px;">
		<%= render "partials/toggle_solved_and_delete", notification:@notification %> 
	</div>
	<!-- COMMENTS-FORM -->
	
	<!-- Check if there isn't an user -->
	<% if @notification.user_id.nil? %>
		<% disable_option = true %>
		<% blur_class = "blur" %>
		<div class="well">La persona que registró este aviso no tiene cuenta, por ello los comentarios están desactivados.</div>
	<% end%>

	<div class="panel panel-success <%= blur_class %>">
		<div class="panel-heading"><h4><b>Comentarios</b></h4></div>
		<div class="panel-body" id="comments-box">
			<h5>Nuevo comentario</h5>

			<%= form_for [@notification, Comment.new], remote:true, html:{id:"comments-form", :"data-type" => "json"} do |c|%>
				<div class="form-group">
					<div class="">
						<%= c.text_area :body, class:"form-control", placeholder:"Cuerpo del comentario", required:true, disabled:disable_option %>
					</div>
				</div>
				<div class="form-group">
					<%= c.submit "Enviar", class:"btn btn-primary", disabled:disable_option%>
				</div>
			<% end %> 
			<hr>
			<% @notification.comments.each do |c|%>
				<%= render "partials/comment_skeleton", comment:c, avatar: c.user.avatar, avatar_file_name: c.user.avatar_file_name %>
			<% end %>
		</div>				
	</div>

</div>
<div class="col-md-3">
	<%= render "partials/side_bar" %>
</div>
