<%= render layout:"devise/shared/common", locals:{header:"Cambiar contraseña"} do%>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <!-- NEW PASSWORD -->
      <div class="form-group">
        <%= f.label :password, "Nueva contraseña:" %><br />
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class:"form-control", placeholder:"Contraseña", required:true %>
      </div>
      <!-- NEW PASSWORD CONFIRMATION -->
      <div class="form-group">
        <%= f.label :password_confirmation, "Confirmar nueva contraseña:" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Repetir contraseña", required:true %>
      </div>
      <!-- SUBMIT -->
      <div class="actions">
        <%= f.submit "Cambiar contraseña", class:"btn btn-primary"  %>
      </div>
  <% end %>
<% end %>

        