<%= render layout:"devise/shared/common", locals:{header:"Renovar contraseña"} do%>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
      <!-- EMAIL -->
      <div class="form-group">
        <%= f.label :email, "Email:" %>
  <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email", required:true %>
      </div>  
      <!-- SUBMIT -->
      <div class="actions">
  <%= f.submit "Cambiar de contraseña", class:"btn btn-primary" %>
      </div>
  <% end %>
<% end %>






