<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="text-primary"><span class="glyphicon glyphicon-info-sign"></span> Información de contacto</h1>
		</div>
		<div class="panel-body">
			<div class="col-md-6">
				<h4><span class="glyphicon glyphicon-home"></span><b> Calle:</b></h4>
				<h5> Mediodia nº 69</h5>
				<hr>
				<h4><span class="glyphicon glyphicon-map-marker"></span> <b>Localidad:</b></h4>
				<h5> Castellar de Santiago (Ciudad Real)</h5>
				<hr>
				<h4><span class="glyphicon glyphicon-phone-alt"></span><b> Teléfono de contacto fijo:</b></h4>
				<h5> 926 340 271</h5>
				<hr>
				<h4><span class="glyphicon glyphicon-glyphicon glyphicon-earphone"><b></span> Telefóno de contacto móvil:</b></h4>
				<h5> 619 358 032</h5>
				<hr>
				<h4><span class="glyphicon glyphicon-envelope"></span><b> Correo electrónico:</b></h4>
				<h5> asistencia.t@hotmail.com</h5>
			</div>
			<div class="col-md-6">
				<a href="" class="hidden-xs pull-right img-responsive img-thumbnail" style="width:100%;height:25em;">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3120.928309925444!2d-3.275075099999989!3d38.53542070000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6ecde8ec6f1bfb%3A0x43fe8307e4022c72!2sCalle+Mediod%C3%ADa%2C+69%2C+13750+Castellar+de+Santiago%2C+Cdad.+Real!5e0!3m2!1ses!2ses!4v1436281953337" frameborder="0" style="border:0;width:100%;height:100%" allowfullscreen></iframe>
				</a>
			</div>

		</div>
	</div>
</div>

<div class="col-md-3">
	<%= render "partials/side_bar" %>
</div>