<div class="row">
	<div class="col-md-12">
		<div class="carousel slide" id="carousel-1" data-ride="carousel">
			<!-- INDEXES -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-1" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-1" data-slide-to="1"></li>
				<li data-target="#carousel-1" data-slide-to="2"></li>
				<li data-target="#carousel-1" data-slide-to="3"></li>
			</ol>
			<!-- CONTENT -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<%= image_tag "carousel-1.jpg", alt: "Broken appliance", class:"img-responsive" %>
				</div>
				<div class="item">
					<%= image_tag "carousel-2.jpg", alt: "Broken appliance", class:"img-responsive" %>
				</div>
				<div class="item">
					<%= image_tag "carousel-3.jpg", alt: "Broken appliance", class:"img-responsive" %>
				</div>
				<div class="item">
					<%= image_tag "carousel-4.jpg", alt: "Broken appliance", class:"img-responsive" %>
				</div>
			</div>
			<!-- CONTROLS -->
			<a href="#carousel-1" class="carousel-control left" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a href="#carousel-1" class="carousel-control right" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Posterior</span>
			</a>
		</div>

	</div>
</div>
<div class="row" style="margin-top:15px;">
	<div class="col-md-8 panel">
		<div class="panel-body">
			<div class="jumbotron" style="background:#FFE27E;">
				<h2><%= image_tag "logo-alfa.png"%><b> ¡Bienvenido!</b></h2>
				<p class="text-justify">Esta es la página oficial de "<i>Asistencia técnica. Raúl Campos González</i>", mediante nuestro sitio podrá avisar de forma totalmente automática y sin coste de cualquier incidencia mediante la opción <b>"Avisar"</b> en la parte superior de la barra, tanto si es un cliente nuevo como uno antiguo. </p>
			</div>
			<ul class="list-group">
				<li class="list-group-item">
					<h2><span class="glyphicon glyphicon-chevron-right"></span> ¿A qué nos dedicamos?</h2>
					<blockquote class="text-justify">Trabajamos sobre todo en la reparación de electrodomésticos de cualquier índole y de cualquier marca desde televisores hasta neveras y por otro lado a la instalación de antenas para dar soporte a TDT (televisión digital terrestre)</blockquote>
				</li>
				<li class="list-group-item">
					<h2><span class="glyphicon glyphicon-chevron-right"></span> ¿Dónde estamos?</h2>
					<blockquote class="text-justify">Estamos en Castellar de Santiago, provincia de Ciudad Real en la zona de Campo de Montiel, también trabajamos en las localidades de Valdepeñas, Torrenueva, Almuradiel, Torre de Juan Abad, Santa Cruz de Mudela y Aldeaquemada (Jaén).</blockquote>
				</li>
				<li class="list-group-item">
					<h2><span class="glyphicon glyphicon-chevron-right"></span> ¿Cómo contactar con nosotros?</h2>
					<blockquote class="text-justify">Tres opciones:
					<ul class="list-group little-margin-top">
						<%= link_to "/about_us", class:"list-group-item" do%>
							<span class="glyphicon glyphicon-hand-right"></span> <b>Por telefóno:</b> Llamando al 926 340 271 ó al 619 358 032
						<% end %>
						<%= link_to "/about_us", class:"list-group-item" do%>
							<span class="glyphicon glyphicon-hand-right"></span> <b>Por email:</b> Enviando un correo a asistencia.t@hotmail.com
						<% end %>
						<%= link_to new_notification_path, class:"list-group-item" do %>
							<span class="glyphicon glyphicon-hand-right"></span> <b>Por web:</b> Pulsando aquí.
						<% end %>
					</ul>
				</blockquote>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<p>Sitio diseñado y desarrollado gracias a la tecnología de Ruby on Rails, Twitter Bootstrap, HTML5, CSS3 y Javascript. Cualquier incidencia o fallo por favor reportar a <i>"asistencia.t@hotmail.com"</i> gracias.</p>
			<hr>
			<%= image_tag "brands.png", class:"image-center"%>
		</div>	
	</div>
	<div class="col-md-3 col-md-offset-1">
		<%= render "partials/side_bar" %>
	</div>
</div>

