<%= render layout:"devise/shared/common", locals:{header:"Autenticar"} do%>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <!-- EMAIL -->
      <div class="form-group">
        <%= f.label  :email, "Email:"%>
          <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email", required:true %>
      </div>  
      <!-- PASSWORD -->
      <div class="form-group">
        <%= f.label  :password, "Contraseña:"%>
          <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Contraseña", required:true %>
      </div>  
      <!-- REMEMBERABLE -->
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Recordarme" %>
      <% end -%>
      <!-- SUBMIT -->
      <div class="actions">
        <%= f.submit "Autenticar", class:"btn btn-primary" %>
      </div>
    <% end %>
<% end %>


       

