<p>!Hay una nueva notificacion vía web!</p>
<hr>
<p><b>Día:</b> <%= @notification.created_at.strftime "%m/%d/%Y a las %H:%M" %></p>
<p><b>Persona:</b> <%= @notification.person%></p>
<p><b>Teléfono:</b> <%= @notification.telephone%></p>
<p><b>Electrodoméstico:</b> <%= @notification.appliance%></p>
<p><b>Problema:</b> <%= @notification.problem %></p>
<p><b>Ubicación:</b> <%= @notification.city %>, calle <%= @notification.street %>, número <%= @notification.number %></p>
<hr>
<p><%= link_to "Enlace", {controller:"notifications", action:"show", id:@notification.id} %></p>
