<p>¡Nuevo comentario!</p>
<p> Realizado por <%= @comment.user.email %></p>
<hr>
<p><%= @comment.body %></p>
<hr>
<p><%= link_to "Enlace", {controller:"notifications", action:"show", id:@comment.notification.id}, class:"btn btn-danger" %></p> 

