$(document).on("ajax:success", "form#comments-form", function(ev, data){
	$("#comments-box").append(' <div class="media"><div class="media-left"></div><div class="media-body"><h4 class="media-heading">'+data.email+'</h4><p class="text-justify"> '+data.body+' </p></div></div>')

	if(data.have_avatar){
		$('#comments-box .media .media-left:last').append('<img src='+data.avatar+' alt="User default" class="pull-left img-thumbnail set-64x64" style="margin-right:10px;"/>')
	}else{
		// It fails in production.
		$('#comments-box .media .media-left:last').append('<%= image_tag "user_default_64x64.jpg", alt: "User avatar default", class:"pull-left img-thumbnail", style:"margin-right:10px;"%>')
	}

	$(this).find("textarea").val("")
})


