 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body { 
	padding-top: 70px;
	padding-bottom: 40px;
}

 .navbar-btn{
	margin-left:5px;
}

.thumb{
	width:25%;
	margin-right:10px;
}

.location{
	margin-top:5px;
}

.notification{
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom: 1px solid #999;
}

.panel-notification{
	margin-top:20px;
}

textarea{
	resize:vertical;
	min-height:35px;
}

.broken-appliance-default{
	width:100%;
}

.logo{
	 height:40px;
	 margin-top:6px;
}

.carousel{
	border:2px solid black;
}

.text-footer{
	padding-top:6px;
	color:white;
}

/*.footer{
}*/

.footer {
	margin-top:10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

.little-margin-top{
	margin-top:5px;
}

.white-text{
	color:white !important;
}

.navbar-user{
	border-radius:100%; 
}

.set-64x64{
	width:64px;
	height:64px;
}

.set-32x32{
	width:32px;
	height:32px;
}

.blur{
	 opacity:0.5;
}

.image-center{
	margin-left: auto;
    margin-right: auto;
    display:block;
}

hr{
	border-color:#A4A4A4;
}

.sidebar{
	border:1px solid black;
	padding:5px 20px 20px 20px;
	border-radius:10px;
	margin-bottom:20px;
}

.sidebar-img{
	margin-top:15px;margin-bottom:15px;
}

a:active, a:active * { outline: none !important; -moz-outline-style: none !important;  text-decoration:none;}
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important;  text-decoration:none;}
a:hover, a:hover * {text-decoration:none;}