<p>¡Bienvenido <%= @email %>!</p>
<hr>
<p>Puedes confirmar tu correo a través del siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
