<p>¡Hola <%= @resource.email %>!</p>
<p>Alguien ha pedido que cambies tu contraseña. Puedes cambiarla en el enlace de abajo.</p>
<hr>
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>
<hr>
<p>Si tu no lo has pedido por favor ignora este email.</p>
<p>Tu contraseñar no cambiara a menos que tu accedas al link superior.</p>
