<!DOCTYPE html>
<html>
<head>
	<title>Raúl Campos González - Asistencia Técnica</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag "favicon.ico"%>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- NAVBAR HEADER -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target="#nav-cuerpo" data-toggle="collapse">
						<span class="sr-only">Desplegar/Ocultar</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to root_path do%>
						<%= image_tag "logo.png", alt: "Logo", class:"logo" %>
					<% end %>
				</div>
				<!-- NAVBAR BODY -->
				<div class="navbar-collapse collapse" id="nav-cuerpo">
					<ul class="nav navbar-nav">
						<!-- FOR FUTURE DEVELOPMENT -->
						<!-- <li><a href=""><span class="glyphicon glyphicon-star"></span> Novedades</a></li> -->
						<li>
							<%= link_to "/about_us" do%>
								<span class=" glyphicon glyphicon-earphone">
								</span> Contacto
							<% end %>
						</li>
						<% unless user_signed_in? and current_user.permission_level == "Admin" %>
							<li>
								<%= button_to new_notification_path, class:"btn btn-danger navbar-btn", method: :get do %>
									<span class="glyphicon glyphicon-exclamation-sign"></span> Avisar
								<% end %>
							</li>
						<% end %>
						<% if user_signed_in? %>
							<li>
								<%= button_to notifications_path, class:"btn btn-primary navbar-btn", method: :get do%>
									<span class="glyphicon glyphicon-list-alt"></span> Mis avisos
								<% end %>
							</li>
						<% end %>

					</ul>
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>
							<% if current_user.avatar_file_name.nil? %>
								<li><%= image_tag "user_default_32x32.jpg", alt: "User avatar default", class:"logo navbar-user" %></li>
							<% else %>
								<li><%= image_tag current_user.avatar.url, alt: "User avatar", class:"logo navbar-user set-32x32"%></li>
							<% end %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">
									<%= current_user.email %>
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li>
										<%= form_for current_user, :html => { :multipart => true, class:"form-inline" } do |form| %>
											<%= form.file_field :avatar, class:"form-control", style:"padding-bottom:40px;"%>
											<%= form.submit "Cambiar avatar", class:"btn btn-default pull-right", style:"margin:10px 10px 10px;"%>
										<% end %>
									</li>
								</ul>
							</li>
							<li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></li>
						<% else %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown">
									<span class="glyphicon glyphicon-user"></span>
									 Usuarios
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><%= link_to "Autenticar", new_user_session_path%></li>
									<li class="divider"></li>
									<li><%= link_to "Registrarse", new_user_registration_path %></li>
								</ul>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	
	<% [notice, alert].each do |x| %>
		<% if x %>
			<div class="alert alert-warning">
				<button class="close" data-dismiss="alert"><span>&times;</span></button>
				<p class="notice"><%= x %></p>
			</div>
		<% end %>
	<% end %>

	<div class="container">
		<%= yield %>
	</div>

	<footer class="footer navbar-inverse">
      <div class="container-fluid text-footer">
        <p class="pull-right">Web personal de Raúl Campos González </p>
      </div>
    </footer>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
