<div class="panel panel-info">
	<div class="panel-heading" role="tab" id="heading<%= id %>">
		<h4 class="panel-title">
			<a href="#collapse<%= id %>" data-toggle="collapse">
				<b><%= attribute %>:</b>
			</a>
		</h4>
	</div>
	<div class="panel-collapse collapse in" id="collapse<%= id %>">
		<div class="panel-body">
			<%= yield %>
		</div>
	</div>
</div>